{% extends 'base.html.twig' %}

{% block title %}Poser une question{% endblock %}


{% block body %}

    <h1 class="mb-20">Poser une question</h1>

    {{ form_start(formQuestion) }}
    <div class="block mb-20">
        {{ form_rest(formQuestion) }}
    </div>
    <button class="btn btn-primary">Demander une réponse</button>
    {{ form_end(formQuestion) }}


{% endblock %}
